.news {
  padding: var(--sds-size-space-1200) var(--sds-size-space-2400);
  border-left: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  border-right: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  background-color: var(--sds-color-background-default-default);
}

.news > * {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.article {
  padding: var(--sds-size-space-600) 0 var(--sds-size-space-1200);
  border-bottom: 1px solid var(--sds-color-border-brand-tertiary);
  width: 100%;
  position: relative;
}

.article:last-child {
  border-bottom: none;
}

.articleLink {
  display: flex;
  gap: var(--sds-size-space-600);
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.articleLink:hover {
  opacity: 0.8;
}

.articleDate {
  font-family: var(--sds-typography-body-font-family);
  font-size: var(--sds-typography-body-size-medium);
  color: var(--sds-color-text-default-default);
}

.articleImage {
  width: 188px;
  height: 160px;
  background-color: var(--sds-color-background-default-tertiary);
  border-radius: 16px;
}

.articleCategory {
  font-family: var(--sds-typography-body-font-family);
  font-size: var(--sds-typography-body-size-medium);
  color: var(--sds-color-text-default-default);
}

.articleTitle {
  font-family: var(
    --sds-typography-subtitle-font-family,
    "Merriweather",
    serif
  );
  font-size: var(--sds-typography-subtitle-size-base);
  line-height: 1.2;
  color: var(--sds-color-text-default-default);
}

.articleExcerpt {
  font-family: var(--sds-typography-body-font-family);
  font-size: var(--sds-typography-body-size-medium);
  line-height: 1.5;
  color: var(--sds-color-text-default-default);
}

.readMoreLink {
  display: flex;
  align-items: center;
  gap: var(--sds-size-space-200);
  font-family: var(--sds-typography-body-font-family);
  font-size: var(--sds-typography-body-size-medium);
  font-weight: 500;
  color: var(--sds-color-border-brand-secondary);
  text-transform: uppercase;
  margin-top: var(--sds-size-space-400);
}

.readMoreIcon {
  position: static;
  height: 24px;
  width: 24px;

  @media all and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.readMoreLink :global(svg) {
  width: 20px;
  height: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .news {
    padding: var(--sds-size-space-600);
  }

  .article {
    padding: var(--sds-size-space-400) 0 var(--sds-size-space-600);
  }

  .articleLink {
    flex-direction: column;
  }

  .articleImage {
    width: 100%;
    height: auto;
    aspect-ratio: 188 / 160;
  }

  .articleTitle {
    font-size: 24px;
  }
}
