.affiliates {
  padding: var(--sds-size-space-2400) var(--sds-size-space-600);
  border-left: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  border-right: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  background-color: var(--sds-color-background-default-default);
}

.affiliatesLogos {
  display: flex;
  gap: var(--sds-size-space-600);
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.affiliateLogo {
  position: relative;
  width: 100%;
  height: 165px;
  background-color: transparent;
  border-radius: var(--sds-size-radius-200);
  overflow: hidden;
}

/* Mobile styles */
@media (max-width: 768px) {
  .affiliatesLogos {
    flex-direction: column;
    gap: var(--sds-size-space-800);
  }

  .affiliateLogo {
    width: 100%;
    height: 165px;
  }
}
