.affiliates {
  padding: var(--sds-size-space-2400, 96px) var(--sds-size-space-600, 24px);
  border-left: var(--sds-size-stroke-border, 1px) solid
    var(--sds-color-border-default-default, #d9d9d9);
  border-right: var(--sds-size-stroke-border, 1px) solid
    var(--sds-color-border-default-default, #d9d9d9);
}

.affiliatesLogos {
  display: flex;
  gap: var(--sds-size-space-600, 24px);
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

.affiliateLogo {
  position: relative;
  width: 165px;
  height: 165px;
  background-color: transparent;
  border-radius: var(--sds-size-radius-200, 8px);
  overflow: hidden;
}
