.careers {
  padding: var(--sds-size-space-1200) var(--sds-size-space-2400);
  border-left: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  border-right: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  background-color: var(--sds-color-background-default-default);
}

.careersText {
  font-family: var(
    --sds-typography-subheading-font-family,
    "Inter",
    sans-serif
  );
  font-size: var(--sds-typography-subheading-size-medium);
  line-height: 1.2;
  color: var(--sds-color-text-default-default);

  p {
    margin-bottom: var(--sds-size-space-400);
  }
}

.emailLink {
  color: var(--sds-color-background-brand-tertiary);
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--sds-color-background-brand-secondary);

    strong {
      color: var(--sds-color-background-brand-secondary);
    }
  }

  strong {
    transition: color 0.3s ease;
    color: inherit;
  }
}

@media (max-width: 768px) {
  .careers {
    padding: var(--sds-size-space-600);

    :global(.flex-container) {
      flex-direction: column !important;
    }
  }
}
