.family {
  padding: var(--sds-size-space-1200, 48px) var(--sds-size-space-2400, 96px);
  border-left: var(--sds-size-stroke-border, 1px) solid
    var(--sds-color-border-default-default, #d9d9d9);
  border-right: var(--sds-size-stroke-border, 1px) solid
    var(--sds-color-border-default-default, #d9d9d9);
}
